body{
    width: 100%;
    min-width: 990px;
    margin: 0 auto;
}
header{
   height: ;
}
header .header-top{
	width: 100%;
	background: #ad2527;
}
header .header-top a{
	height: 60px;
	display: block;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
}
header .header-top img{
	width: 100%;
}
header .header-top a span{
	display: block;
	width: 32px;
	height: 32px;
	background: #85181c;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	right: 0;
	color: #fff;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
}
header .header-m{
	height: 28px;
	background: #f4f4f4;
}
header .header-ml{
	width: 1200px;
	margin: 0 auto;
}
header  .header-left{
	float: left;
}
header  .header-left a{
	display: block;
	height: 28px;
	line-height: 28px;
	color: #998c59;
}
header .header-m .header-ml ul{
	float: right;
}
header .header-m li{
	font-size: 12px;
	float: left;
	height: 28px;
	line-height: 28px;
	
}
header .header-m li a{
	display: block;
	color: #999;
	padding: 0 20px;
	height: 12px;
	line-height: 12px;
	margin-top: 8px;
}
header .header-m li:nth-child(2) a,header .header-m li:nth-child(5) a{
	border-right: 1px solid #e1dde1;
}
header .header-m li:last-child a{
	padding-right: 0;
}
header .logo{
	width: 1200px;
	height: 100px;
    margin: 0 auto;
    margin-top: 25px;
}
header .logo .logo-left{
	width: 300px;
	float: left;
}
header .logo .logo-left a{
    display: block;
    height: 75px;
}
header .logo .logo-left a img{
	float: left;
}
header .logo .logo-center{
	float: left;
	margin-left: 110px;
	margin-top: 18px;
}

header .logo .logo-center form input:nth-child(1){
	width: 284px;
	height: 38px;
	border: 1px solid #ddd;
	padding-left: 30px;
	border-radius: 5px 0 0 5px;
}
header .logo .logo-center form input:nth-child(2){
	width: 76px;
	height: 40px;
	background: #b34747;
	color: #fff;
	margin-left: -5px;
}

header .logo .logo-right{
	float: right;
	margin-top: -20px;
}
/*导航*/
header nav{
	height: 44px;
}
header nav .nav-nl{
	width: 1200px;
	height: 44px;
	margin: 0 auto;
	position: relative;
}
header nav .nav-nl .nav-left{
	width: 202px;
	float: left;
}
header nav .nav-nl .fd{
	position: absolute;
	width: 202px;
	height: 460px;
	/*background: #fff;*/
	top: 44px;
	z-index: 1;
}
header nav .nav-nl .nav-left li:nth-child(1){
	background: #be4c4c;
	padding-left: 16px;
	height: 44px;
	line-height: 44px;
	
}
header nav .nav-nl .nav-left li:nth-child(1) a{
	color: #fff;
}
header nav .nav-nl .nav-right{
	height: 43px;
	line-height: 43px;
	margin-left: 32px;
	float: left;
	border-bottom: 1px solid #eeeeee;
}
header nav .nav-nl .nav-right li{
	float: left;
	padding: 0 15px;
}
header nav .nav-nl .nav-right li a{
	padding: 12px 0;
	color: #333;
	font-size: 12px;
}
header nav .nav-nl .nav-right li a:hover{
	border-bottom: 3px solid #be4c4c;
}
/*banner图*/
header .banner{
	position: relative;
	width: 100%;
	height: 440px;
}
header .banner .banner-an{
	position: absolute;
}

header .banner ul{
	height: 440px;
	width: 100%;
	
}
header .banner ul li{
	height: 440px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	transition: opacity  .8s
}
header .banner .wrap ul li img{
	height: 440px;
	width: 100%;
}
header .banner ul li.active{
	opacity: 1;
}
header .banner ul li img{
	position: absolute;
	display: block;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -800px;
	width: 1600px;
}
#btn{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
#btn button{
	border: none;
	outline: none;
}
#left{
	position: absolute;
	left: 202px;
	top: 200px;
	z-index: 1;
	width: 44px;
	height: 44px;
	background: url(../img/a.png) no-repeat -111px -357px;
}
#right{
	position: absolute;
	right: 0;
	top: 200px;
	z-index: 1;
	width: 44px;
	height: 44px;
	background: url(../img/a.png) no-repeat -57px -357px;
}
#btnlist{
	width: 895px;
	left: 0;
	right: 0;
	margin: auto;
	height: 20px;
	position: absolute;
	z-index: 1;
	/*background: #fff;*/
	bottom: 24px;
	padding-left: 305px;
}
#btnlist span:nth-child(1){
	/*margin-left: 305px;*/
}
#btnlist span{
	display: inline-block;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	border: 2px solid #858998;
}
#btnlist span.active{
	border-color: #ccaa7a;
	box-shadow: 0 0 5px #ccaa7a;
	background: #FFF;
}


/*内容*/
#content{
	
}
/*内容1*/
#content .con1{
	height: 80px;
}
#content .con1 .con1-cm{
	height: 80px;
	width: 1200px;
	margin: 0 auto;
	background: #f1f1f1;
}
/*内容2*/
#content .con2{
	height: 80px;
	margin-top: 10px;
}
#content .con2 .con2-cm{
	height: 80px;
	width: 1200px;
	margin: 0 auto;
	background: #f1f1f1;
}
#content .con2 .con2-cm h2{
	text-align: center;
	font-size: 38px;
	height: 80px;
	line-height: 80px;
	color: #282828;
}
/*内容3*/
#content .con3{
}
#content .con3 .con3-cm{
	width: 1200px;
	margin: 0 auto;
}
#content .con3 .con3-cm a{
	margin-top: 10px;
	display: block;
	float: left;
}
/*内容4*/
#content .con4{
	height: 80px;
	margin-top: 10px;
}
#content .con4 .con4-cm{
	height: 80px;
	width: 1200px;
	margin: 0 auto;
	background: #f1f1f1;
}
#content .con4 .con4-cm h2{
	text-align: center;
	font-size: 38px;
	height: 80px;
	line-height: 80px;
	color: #282828;
}
/*内容5*/
#content .con5{
}
#content .con5 .con5-cm{
	width: 1200px;
	margin: 0 auto;
}
#content .con5 .con5-cm ul{
	padding-top: 20px;
	width: 1080px;
	margin: 0 auto;
}
#content .con5 .con5-cm ul li{
	float: left;
	width: 236px;
	height: 426px;
	margin: 20px 32px 20px 0;
	background: pink;
}


/*内容6*/
#content .con6{
	height: 70px;
	border-top: 1px solid #eee;
}
#content .con6 .con6-cm{
	height: 70px;
	width: 1200px;
	margin: 0 auto;
}
#content .con6 .con6-cm a{
	font-size: 12px;
	color: #666;
	display: inline-block;
	width: 235px;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
#content .con6 .con6-cm a span{
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url(../img/a.png) no-repeat;
	padding-right: 10px;
	vertical-align: middle;
}
#content .con6 .con6-cm a:nth-child(1) span{
	background-position: -409px -357px;
}
#content .con6 .con6-cm a:nth-child(2) span{
	background-position: -361px -357px;
}
#content .con6 .con6-cm a:nth-child(3) span{
	background-position: -312px -357px;
}
#content .con6 .con6-cm a:nth-child(4) span{
	background-position: -265px -357px;
}
#content .con6 .con6-cm a:nth-child(5) span{
	background-position: 1px -414px;
}
/*底部*/
footer{
	height: 564px;
}
footer .footer-inst{
	height: 263px;
	background: #333;
}
footer .footer-inst .footer-inst-fm{
	width: 1200px;
	margin: 0 auto;
	padding: 44px 0 80px 0;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-left{
	float: left;
	width: 162px;
	height: 132px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-left span{
	display: block;
	width: 162px;
}

footer .footer-inst .footer-inst-fm .footer-inst-fm-left span:nth-child(1){
	
	color: #ccaa7a;
	font-size: 12px;
	margin-bottom: 12px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-left span:nth-child(2){
	color: #ccaa7a;
	font-size: 24px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-left span:nth-child(3){
	color: #999;
	font-size: 12px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-left span:nth-child(4){
	width: 132px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 20px;
	color: #999;
	font-size: 12px;
	margin-top: 16px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-left span:nth-child(4):hover{
	background: #ccaa7a;
	color: #fff;
	border: 1px solid #ccaa7a;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-center{
	float: left;
	margin-left: 122px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-center ul{
	float: left;
	margin-right: 24px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-center ul li a{
	display: block;
	color: #999;
	width: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-center ul li a:hover{
	color: #fff;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-center ul li:nth-child(1){
	color: #ccc;
	font-size: 12px;
	padding-bottom: 14px;
}
footer .footer-inst .footer-inst-fm .footer-inst-fm-right{
	float: left;
	margin-left: 187px;
}
footer .footer-wrap{
	height: 197px;
	background: #333;
}
footer .footer-wrap .footer-wrap-cm{
	width: 1200px;
	margin: 0 auto;
}
footer .footer-wrap .footer-wrap-cm p a{
	font-size: 12px;
	color: #999;
	text-align: center;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(1){
	text-align: center;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(2){
	text-align: center;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(1) a,footer .footer-wrap .footer-wrap-cm p:nth-child(2) a{
	padding: 0 10px;
	text-align: center;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(3){
	padding: 43px 0 40px 0;
	color: #999;
	font-size: 12px;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(3) i{
	display: block;
	width: 100%;
	text-align: center;
	height: 12px;
	line-height: 12px;
	padding-bottom: 15px;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(3) i span{
	color: #666;
}
footer .footer-wrap .footer-wrap-cm p:nth-child(3) em{
	display: block;
	width: 100%;
	text-align: center;
	height: 12px;
	line-height: 12px;
	padding-bottom: 15px;
}
footer .footer-filing{
	background: #eee;
	height: 104px;
}
footer .footer-filing .footer-filing-cm{
	width: 472px;
	margin:  0 auto;
}
footer .footer-filing .footer-filing-cm a{
	float: left;
	padding: 0 10px;
	margin-top: 35px;
}
